# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environments
.venv/
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints/

# OS files
.DS_Store

# uv lock files
uv.lock

# VS Code settings
.vscode/